<% provide(:title, 'Register') %>

<div class="alternate-layout-content-wrapper">
	<h2>Register</h2>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		<%= render 'shared/error_messages', :object => @user %>
		<div class="input-prepend">
			<span class="add-on"><i class="icon-user"></i></span>
			<%= f.text_field :name, placeholder: "Name" %>
		</div>
		<div class="input-prepend">
			<span class="add-on"><i class="icon-envelope"></i></span>
			<%= f.email_field :email, placeholder: "Email" %>
		</div>
		<div class="input-prepend">
			<span class="add-on"><i class="icon-lock"></i></span>
			<%= f.password_field :password, placeholder: "Password" %>
		</div>
		<div class="input-prepend">
			<span class="add-on"><i class="icon-ok"></i></span>
			<%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
		</div>
		<div>
			<%= f.submit "Register", class: "btn btn-large btn-success" %>
		</div>
	<% end %>
</div>
<div class="sign-in-links">
	<%= render "devise/shared/links" %>
</div>
