<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox({
			padding		: 0,
			preload		: 5
		});
	});
</script>

<%= tinymce theme_advanced_buttons1: "bold,italic,underline,strikethrough,separator,forecolor,separator,bullist,numlist,outdent,indent,separator,undo,redo,separator,removeformat,code,fullscreen", theme_advanced_buttons2: "", theme_advanced_buttons3: "", width: "100%", height: "600", content_css: "/assets/tinymce.css", valid_elements: "-strong,-em,-u,-p,p[style],-ol,ol[style],-ul,ul[style],-li,li[style],-span,span[style],-div,div[style]", theme_advanced_resizing: true, theme_advanced_resize_horizontal: false %>

<% provide(:title, 'Update Listing') %>

<h2>Update Listing</h2>

<%= render partial: 'form', locals: { form_type: "edit" } %>
