<% if object.errors.any? %>
	<section id="error_explanation">
		<div class="alert alert-error">
			Oops! Your form has <%= pluralize(object.errors.count, "error") %>.
		</div>
		<ul>
			<% object.errors.full_messages.each do |msg| %>
				<li>* <%= msg %></li>
			<% end %>
		</ul>
	</section>
<% end %>