<% provide(:title, 'Sign In') %>

<div class="alternate-layout-content-wrapper">
	<h2>Sign In</h2>
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div class="input-prepend">
			<span class="add-on"><i class="icon-user"></i></span>
			<%= f.email_field :email, placeholder: "Username" %>
		</div>
		<div class="input-prepend">
			<span class="add-on"><i class="icon-lock"></i></span>
			<%= f.password_field :password, placeholder: "Password" %>
		</div>
		<% if devise_mapping.rememberable? %>
			<div>
				<%= f.check_box :remember_me %> <%= f.label :remember_me, "Keep me logged in", class: "inline-input-label" %>
			</div>
		<% end %>
		<div>
			<%= f.submit "Sign In", class: "btn btn-large btn-success" %>
		</div>
	<% end %>
</div>
<div class="sign-in-links">
	<%= render "devise/shared/links" %>
</div>