<header class="navbar">
	<div class="container">
		<%= link_to "Paradime", root_path, class: "logo" %>
		<ul class="nav nav-pills pull-right">
			<li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
			<li class="<%= 'active' if current_page?(who_we_are_path) %>"><%= link_to "Who We Are", who_we_are_path %></li>
			<li class="<%= 'active' if current_page?(how_it_works_path) %>"><%= link_to "How it Works", how_it_works_path %></li>
			<li class="<%= 'active' if current_page?(listings_path) %>"><%= link_to "View Listings", listings_path %></li>
			<li id="fat-menu" class="dropdown">
				<% if user_signed_in? %>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= "#{current_user.name}" %> <b class="caret"></b></a>
				<% else %>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Members <b class="caret"></b></a>
				<% end %>
				<ul class="dropdown-menu">
					<% if user_signed_in? %>
						<li><%= link_to "New Listing", new_listing_path %></li>
						<li><%= link_to "Manage Listings", listings_manage_path %></li>
						<li><%= link_to "Profile", edit_user_registration_path %></li>
		                <li class="divider"></li>
						<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
	    	        <% else %>
	    	        	<li><%= link_to "Register", new_user_registration_path %></li>
		                <li class="divider"></li>
	    	        	<li><%= link_to "Sign In", new_user_session_path %></li>
	    	        <% end %>
	            </ul>
			</li>
		</ul>
	</div>
</header>